@model Speciality 
<form method="post">
    <div class="border pad-3 mt-4">
        <div class="row pb-3">
            Create Speciality
        </div>

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />

        </div>
        
        <button type="submit" class="btn btn-primary">Create </button>
        <a asp-controller="Spaciality" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

